{% extends 'base.html' %}

{% block content %}

<h2>Term Schedule</h2>
    <p>The schedule has been finalized. <a href="{% url 'teachers:unfinalize_schedule' room.id term.id %}">Reopen the schedule</a></p>

{% for slot, users in schedule.items %}
    <p>{{ slot.day }}: {{ slot.start_time }} - {{ slot.end_time }}</p>
    <ul>
        {% for user in users %}
            <li>{{ user.user_id }}</li>
        {% endfor %}
    </ul>
{% endfor %}

<p><a href="{% url 'teachers:delete_term' room.id term.id %}" onclick="return confirm('Are you sure?')">Delete this Term</a></p>

{% endblock %}