{% extends 'in_room_base_teacher.html' %}

{% block room_name %}{{room.name}}{% endblock %}

{% block term_link %}<li class="active"><a href="{% url 'teachers:term_list' room.id %}">Terms</a></li>{% endblock %}
{% block user_link %}<li><a href="{% url 'teachers:user_list' room.id %}">Users</a></li>{% endblock %}

{% block content %}

<h2>Term Schedule</h2>
    <p>The schedule has been finalized. <a href="{% url 'teachers:unfinalize_schedule' room.id term.id %}">Reopen the schedule</a></p>

    <table id = "myTable" class="display nowrap">
        <thead style="display:none;">
            <tr>
                <td>Time Slot</td>
                <td>Student</td>
            </tr>
        </thead>
        <tbody>
        {% for slot, users in schedule.items %}
            {% for user in users %}
                <tr>
                    <td>{{ slot.day }}: {{ slot.start_time }} - {{ slot.end_time }}</td>
                    <td>{{ user.user_id }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

<p><a href="{% url 'teachers:delete_term' room.id term.id %}" onclick="return confirm('Are you sure?')">Delete this Term</a></p>

{% load static %}
<script type="text/javascript" src="{% static 'js/table_grouping.js' %}"></script>

{% endblock %}