{% extends 'in_room_base_teacher.html' %}

{% block room_name %}{{room.name}}{% endblock %}

{% block term_link %}<li class="active"><a href="{% url 'teachers:term_list' room.id %}">Terms</a></li>{% endblock %}
{% block user_link %}<li><a href="{% url 'teachers:user_list' room.id %}">Users</a></li>{% endblock %}
    

{% block content %}
<h2>Available Terms</h2>

{% for term in terms %}
    <p><a href="{{ term.id }}/">{{ term.name }}</a></p>
{% endfor %}

<h2>Create New Term</h2>

{% load crispy_forms_tags %} 

<form action="{% url 'teachers:create_term' room.id %}" method="post">
    {% csrf_token %}
    <table>
        {{ form|crispy }}
    </table>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

{% if room.owner.id == user.id %}
    <br>
    <p><a href="{% url 'teachers:delete_room' room.id %}" onclick="return confirm('Are you sure?')">Delete this Room</a></p>
{% endif %}

{% endblock %}