{% extends 'base.html' %}

{% block content %}

<h2>Term Schedule</h2>
  
    <p>The schedule has not been finalized. <a href="{% url 'teachers:finalize_schedule' room.id term.id %}">Finalize the schedule</a></p>

    <h3>Time Preferences</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'teachers:update_schedule' room.id term.id %}" method="post">
        {% csrf_token %}
        {% for slot, users in schedule.items %}
            <h4><label>{{ slot }}</label></h4>
            <p><a href="{% url 'teachers:delete_time_slot' room.id term.id slot.id %}" onclick="return confirm('Are you sure?')">Delete this time slot</a></p>

            {% for user, user_schedule in users.items %}
                <label><strong>{{ user }}</label></strong><br>
                <label for "{{slot.id}}_{{user.id}}">Preference = {{user_schedule.preference.preference_type}}<br> Is Scheduled = </label>
                <input type = 'checkbox' name="{{slot.id}}_{{user.id}}" id="{{slot.id}}_{{user.id}}" {% if user_schedule.is_scheduled %}checked{% endif %}><br><br>
            {% endfor %}
            <br><br>
        {% endfor %}
        <br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <h3>Add time slot</h3>

    <form action="{% url 'teachers:add_time_slot' room.id term.id %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Add Time Slot">
    </form>

    <p><a href="{% url 'teachers:delete_term' room.id term.id %}" onclick="return confirm('Are you sure?')">Delete this Term</a></p>

{% endblock %}