{% extends 'in_room_base_teacher.html' %}

{% block room_name %}{{room.name}}{% endblock %}

{% block term_link %}<li><a href="{% url 'teachers:term_list' room.id %}">Terms</a></li>{% endblock %}
{% block user_link %}<li class="active"><a href="{% url 'teachers:user_list' room.id %}">Users</a></li>{% endblock %}
    
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<h2>Students in {{room.name}}</h2>

<table class="display nowrap group">
    <thead>
        <tr>
            <td>Term</td>
            <td>Student</td>
            <td>Student Type</td>
            <td>Hours Per Week</td>
            <td>Submitted Preference?</td>
            <td>Was Scheduled?</td>
        </tr>
    </thead>
    <tbody>
    {% for term, students in student_data.items %}
        {% for user, user_info in students.items %}
            <tr>
                <td>{{term}}</td>
                <td>{{user}} <a href="{% url 'teachers:remove_user' room.id user.id %}" onclick="return confirm('Are you sure you want to remove this student from the room?')">x</a> </td>
                <td>
                    {{user_info.student_type}}
                </td>
                <td>
                    {% if user_info.minimum_slots %}
                    {{user_info.minimum_slots}}
                    {% else %}
                    None
                    {% endif %}
                </td>
                <td>
                    <font {% if user_info.submitted_preferences %} color="green" {% else %} color="red" {% endif %}>
                        <strong>{{user_info.submitted_preferences}}</strong>
                    </font>
                </td>
                <td>
                    <font {% if user_info.was_scheduled %} color="green" {% else %} color="red" {% endif %}>
                        <strong>{{user_info.was_scheduled}}</strong>
                    </font>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<br><br>

<h2>Teachers in {{room.name}}</h2>
<br>

<table class="display nowrap nongroup">
    <thead style="display:none;">
        <tr>
            <td>Teacher</td>
        </tr>
    </thead>
    <tbody>
    {% for teacher in teachers %}
            <tr>
                <td>{{teacher}} 
                {% if room.owner.id == user.id %}
                    {% if teacher.id == user.id %}
                        (owner)
                    {% else %}
                        <a href="{% url 'teachers:remove_user' room.id teacher.id %}" onclick="return confirm('Are you sure you want to remove this teacher from the room?')">x</a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>

{% if user.id == room.owner.id %}

<h3>Add More Users</h3>

    {% load crispy_forms_tags %} 
    <form action="{% url 'teachers:add_users_to_room' room.id %}" method="POST">
    {% csrf_token %}
        <table class="display nowrap group">
            <thead style="display:none;">
                <tr>
                    <td>User Type</td>
                    <td>User Name</td>
                </tr>
            </thead>
            <tbody>
                {% for user in unprivileged_users %}
                    <tr>
                        <td>
                            {% if user.is_student %}
                                Students
                            {% else %}
                                Teachers
                            {% endif %}
                        </td>
                        <td>
                            <label for="{{user.id}}">{{user}}</label>
                            <input type="checkbox" name="{{user.id}}" id="{{user.id}}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <br><br>

{% endif %}

{% load static %}
<script type="text/javascript" src="{% static 'js/table_grouping.js' %}"></script>


{% endblock %}