{% extends 'in_room_base_teacher.html' %}

{% block room_name %}{{room.name}}{% endblock %}

{% block term_link %}<li><a href="{% url 'teachers:term_list' room.id %}">Terms</a></li>{% endblock %}
{% block user_link %}<li class="active"><a href="{% url 'teachers:user_list' room.id %}">Users</a></li>{% endblock %}
    

{% block content %}

<h2>Users in Room</h2>

<table id = "myTable" class="display nowrap">
    <thead>
        <tr>
            <td>Term</td>
            <td>Student</td>
            <td>Submitted Preference?</td>
            <td>Was Scheduled?</td>
        </tr>
    </thead>
    <tbody>
    {% for term, users in user_data.items %}
        {% for user, user_info in users.items %}
            <tr>
                <td>{{term}}</td>
                <td>{{user}} <a href="{% url 'teachers:remove_user' room.id user.id %}" onclick="return confirm('Are you sure you want to remove this student from the room?')">x</a> </td>
                <td>
                    <font {% if user_info.submitted_preferences %} color="green" {% else %} color="red" {% endif %}>
                        <strong>{{user_info.submitted_preferences}}</strong>
                    </font>
                </td>
                <td>
                    <font {% if user_info.was_scheduled %} color="green" {% else %} color="red" {% endif %}>
                        <strong>{{user_info.was_scheduled}}</strong>
                    </font>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<h2>Add more users to the room</h2>

{% load crispy_forms_tags %}  
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-1 mb-0">
            <select name="users">
                {% for user in unprivileged_users %}
                    <option value="{{user.id}}">{{user.username}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-1 mb-0">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </div>
</form>

{% load static %}
<script type="text/javascript" src="{% static 'js/table_grouping.js' %}"></script>


{% endblock %}