{% extends 'in_room_base_student.html' %}

{% block room_name %}{{room.name}}{% endblock %}

{% block term_link %}<li class="active"><a href="{% url 'students:term_list' room.id %}">Terms</a></li>{% endblock %}

{% block content %}

<h2>Term Schedule</h2>
    <p>The schedule has been finalized.</p>

    <table class="display nowrap">
        <thead style="display:none;">
            <tr>
                <td>Time Slot</td>
                <td>Student</td>
            </tr>
        </thead>
        <tbody>
        {% for slot, users in schedule.items %}
            {% for s_user in users %}
                <tr>
                    <td><strong>{{ slot.day }}: {{ slot.start_time }} - {{ slot.end_time }}</strong></td>
                    <td>
                        {% if s_user.user_id|stringformat:"s" == user.username|stringformat:"s" %}
                            <font style="color:#d00000">
                            <strong>
                        {% endif %}
                            {{s_user.user_id}}
                        {% if s_user.user_id == user.username %}
                            </strong>
                            </font>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <!---This is a bit of a hack to force time slots without users to display in the datatable.  The datatable discovers groups from the rows in the table,
            so, we add a row without any content if the time slots doesn't have any users.-->
            {% if not users%}
                <tr>
                    <td>
                        <strong>{{ slot.day }}: {{ slot.start_time }} - {{ slot.end_time }}</strong>
                    </td>
                <td height=""></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


{% load static %}
<script type="text/javascript" src="{% static 'js/table_grouping.js' %}"></script>

{% endblock %}