{% extends 'in_room_base_student.html' %}

{% block room_name %}{{room.name}}{% endblock %}

{% block term_link %}<li class="active"><a href="{% url 'students:term_list' room.id %}">Terms</a></li>{% endblock %}

{% block content %}

<h2>Term Schedule</h2>
    <p>The schedule has been finalized.</p>

    <table id = "myTable" class="display nowrap">
        <thead style="display:none;">
            <tr>
                <td>Time Slot</td>
                <td>Student</td>
            </tr>
        </thead>
        <tbody>
        {% for slot, users in schedule.items %}
            {% for user in users %}
                <tr>
                    <td>{{ slot.day }}: {{ slot.start_time }} - {{ slot.end_time }}</td>
                    <td>{{ user.user_id }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>


{% load static %}
<script type="text/javascript" src="{% static 'js/table_grouping.js' %}"></script>

{% endblock %}