{% extends 'base.html' %}

{% block content %}

<h2>Term Schedule</h2>
  
    <p>The schedule has not been finalized.</p>

    <h3>Time Preferences</h2>

    {% load crispy_forms_tags %}

    <form action="" method="post">
        {% csrf_token %}
        {% for slot, pref in schedule.items %}
            <label for = "{{slot.id}}"><h4>{{slot}}</h4></label>
            <input id = "{{slot.id}}" name="{{slot.id}}" type = "number" value="{{pref.preference_type}}">
        {% endfor %}

        <br><br>

        <input type="submit" value="Submit" class="btn btn-primary">
    </form>


{% endblock %}
