{% extends 'in_room_base_student.html' %}

{% block room_name %}{{room.name}}{% endblock %}

{% block content %}

<h2>Term Schedule</h2>
  
    <p>The schedule has not been finalized.</p>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% load crispy_forms_tags %}

    <form action="" method="post">
        {% csrf_token %}
        {% for slot, pref in schedule.items %}
            <div class="form-row">
                <label for = "{{slot.id}}"><h4>{{slot}}</h4></label>
                <select name="{{slot.id}}" id="{{slot.id}}" autocomplete="off">
                    {% for option in options %}
                        <option value="{{option}}" {% if pref.preference_id.id == option.id %}selected{% endif %}>{{option}}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}

        <br><br>

        <input type="submit" value="Submit" class="btn btn-primary">
    </form>


{% endblock %}
