{% extends 'in_room_base_student.html' %}

{% block room_name %}{{room.name}}{% endblock %}

{% block term_link %}<li class="active"><a href="{% url 'students:term_list' room.id %}">Terms</a></li>{% endblock %}

{% block content %}

<h2>Term Schedule</h2>
  
<p>The schedule has not been finalized.</p>

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

{% load crispy_forms_tags %}

<form action="" method="post">
    {% csrf_token %}
    <table class="display group responsive">
        <thead style="display:none;">
            <tr>
                <td>Time Slot</td>
                {% for option in options %}
                    <td>{{option}}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for slot, pref in schedule.items %}
                <tr>
                    <td><strong>{{ slot.day }}: {{ slot.start_time }} - {{ slot.end_time }}</strong></td>
                    {% for option in options %}
                        <td>
                            <label for="{{slot.id}}_{{option.id}}"><font style="color:{{option.color_coding}}">{{option}}</font></kabel>
                            <input type="radio" name="{{slot.id}}" id="{{slot.id}}_{{option.id}}" value="{{option.id}}"
                            {% if pref.preference_id.id == option.id %} 
                                checked
                            {% elif not pref %}
                                {% if option.name == 'Not Available' %}
                                    checked
                                {% endif %}
                            {% endif %}>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

<br><br>


{% load static %}
<script type="text/javascript" src="{% static 'js/table_grouping.js' %}">
</script>


{% endblock %}
